{
    "vocab_size": 400, 
    "clip": 5.0, 
    "emb_size": 50, 
    "max_len": 40, 
    "seed": 0, 
    "max_epochs": 10, 
    "use_attn": false, 
    "cell_type": "lstm", 
    "hid_size_pol": 50, 
    "cuda": false, 
    "model_dir": "model/model/", 
    "load_param": false, 
    "lr_decay": 0.0, 
    "use_emb": false, 
    "train_output": "data/train_dials/", 
    "no_cuda": true, 
    "optim": "adam", 
    "dropout": 0.5, 
    "early_stop_count": 2, 
    "batch_size": 5, 
    "policy": "default", 
    "db_size": 6, 
    "lr_rate": 0.005, 
    "hid_size_enc": 50, 
    "attention_type": "bahdanau", 
    "epoch_load": 0, 
    "hid_size_dec": 50, 
    "l2_norm": 1e-05, 
    "depth": 1, 
    "mode": "train", 
    "bs_size": 19, 
    "model_name": "model.ckpt", 
    "teacher_ratio": 1.0
}